<h1>
  Attributions
</h1>
<section>
<a routerLink="/wall">Back to the music!</a>
<ul>
  <li>Parisienne font designed by Astigmatic and downloaded from Google fonts.</li>
  <li>SVG artwork provided by <a href="https://www.svgrepo.com/">SVG Repo</a>.</li>
  <li>Background image from <a href="https://www.free-scores.com/download-sheet-music.php?pdf=2077">Free Scores</a>.</li>
  <li>Music provided by <a href="http://multitrack.eecs.qmul.ac.uk/search?query=title&id=138">Multitrack</a>.</li>
</ul>

</section>
