<div
  class="instruments-container"
  *ngIf="instrumentHowlsService.allLoaded$ | async; else loading"
>
  <audiowall-instrument
    id="viola"
    instrument="viola"
    [height]="107"
    [width]="72"
  ></audiowall-instrument>
  <audiowall-instrument
    id="trumpet"
    instrument="trumpet"
    [height]="112"
    [width]="99"
  ></audiowall-instrument>
  <audiowall-instrument
    id="timpani"
    instrument="timpani"
    [height]="79"
    [width]="79"
  ></audiowall-instrument>
  <audiowall-instrument
    id="oboe"
    instrument="oboe"
    [height]="89"
    [width]="89"
  ></audiowall-instrument>
  <audiowall-instrument
    id="flute"
    instrument="flute"
    [height]="59"
    [width]="107"
  ></audiowall-instrument>
  <audiowall-instrument
    id="horn"
    instrument="horn"
    [height]="70"
    [width]="70"
  ></audiowall-instrument>
  <audiowall-instrument
    id="bassoon"
    instrument="bassoon"
    [height]="132"
    [width]="116"
  ></audiowall-instrument>
  <audiowall-instrument
    id="cello"
    instrument="cello"
    [height]="162"
    [width]="82"
  ></audiowall-instrument>
  <audiowall-instrument
    id="violin"
    instrument="violin"
    [height]="89"
    [width]="89"
  ></audiowall-instrument>
  <audiowall-instrument
    id="clarinet"
    instrument="clarinet"
    [height]="96"
    [width]="113"
  ></audiowall-instrument>
</div>
<ng-template #loading>Warming up the orchestra...</ng-template>
