.instrument-container {
  > .instrument-icon {
    filter: invert(0.4);
    &.is-loud {
      filter: invert(0.2);
    }
  }

  &:hover {
    > .instrument-icon {
      filter: invert(0.25);
      &.is-loud {
        filter: invert(0);
      }
    }
  }
}
